[Unit]
Description=restartx as user
Wants=network.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl --user restart startx.service
SyslogIdentifier=%i

[Install]
WantedBy=default.target
